<% include ./partials/header %>

<div class="form-container">
    <div class="text-center"><h2>Add Pin</h2></div>
    <form method="POST" action="/pin">
        <div class="form-group">
            <input type="text" placeholder="Image Url" name="pin[url]" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Title" name="pin[title]" class="form-control">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">Add Pin</button>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<% include ./partials/footer %>